/* ZEROING */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.header__top {
  height: 40px;
  background-color: #1B005B;
}

.header__top__cont {
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 14px;
}
.header__top__cont a {
  color: white;
}
.header__top__cont a:hover {
  color: #E9E9E7;
  transition: 0.1s;
}

.icon-phone {
  margin: 0 5px 0 5px;
}

.top__soc_links li {
  height: 100%;
  display: inline-block;
}
.top__soc_links li .icon-google-plus {
  font-size: 17px;
  display: flex;
}
.top__soc_links span {
  font-size: 13px;
  margin: 0 10px 0 10px;
}
.top__soc_links span:before {
  color: white;
}
.top__soc_links span:hover:before {
  color: #E9E9E7;
  transition: 0.1s;
  cursor: pointer;
}

.header__bottom {
  position: fixed;
  background-color: #fff;
  height: 70px;
  width: 100%;
}

.header__bottom__cont {
  display: flex;
  height: 70px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header__bottom__cont .header__div_logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__bottom__cont .header__div_logo .logo_name {
  margin-left: 30px;
  width: 120px;
}
.header__bottom__cont .header__div_logo .logo_name h3 {
  color: #1B005B;
  font-size: 20px;
  font-weight: bolder;
}
.header__bottom__cont .header__div_logo .logo_name p {
  font-weight: 500;
  color: #737373;
  font-size: 11px;
}
.header__bottom__cont .nav_menu ul {
  display: flex;
}
.header__bottom__cont .nav_menu ul li {
  margin-left: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.header__bottom__cont .nav_menu ul li:first-child {
  margin: 0;
}
.header__bottom__cont .nav_menu ul li:hover {
  color: #4D0FDD;
  transition: 0.3s;
}
.header__bottom__cont .nav_menu ul li:first-child {
  color: #4D0FDD;
}
.header__bottom__cont .button_blue button {
  padding: 10px 35px;
  font-size: 16px;
  color: #fff;
  border: 2px solid #4200DB;
  background-color: #4200DB;
  transition: 0.3s;
}
.header__bottom__cont .button_blue button:hover {
  background-color: #fff;
  color: #4200DB;
  transition: 0.3s;
}

.container {
  width: 65%;
  margin-left: 17.5%;
}

.first_block {
  width: 100%;
  margin-top: 70px;
  height: 586px;
  background-image: url("https://template76279.motopreview.com/mt-demo/76200/76279/mt-content/uploads/2018/12/mt-1700-content-bg01.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}