/* ZEROING */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.header {
  height: 40px;
  width: 100%;
  z-index: -1;
  background-color: #1B005B;
}

.header__top {
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 14px;
}
.header__top a {
  color: white;
}
.header__top a:hover {
  color: #E9E9E7;
  transition: 0.1s;
}

.icon-phone {
  margin: 0 5px 0 5px;
}

.top__soc_links li {
  height: 100%;
  display: inline-block;
}
.top__soc_links li .icon-google-plus {
  font-size: 17px;
  display: flex;
}
.top__soc_links span {
  font-size: 13px;
  margin: 0 10px 0 10px;
}
.top__soc_links span:before {
  color: white;
}
.top__soc_links span:hover:before {
  color: #E9E9E7;
  transition: 0.1s;
  cursor: pointer;
}

.header__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container {
  width: 65%;
  margin-left: 17.5%;
}